# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/Turf-Time-Scaler-Project/v17/DocumentLayout.json
.vs/Turf-Time-Scaler-Project/v17/.wsuo
.vs/Turf-Time-Scaler-Project/FileContentIndex/38a81167-1fb8-456d-a5bf-249b690dfa3d.vsidx
.vs/Turf-Time-Scaler-Project/CopilotIndices/17.14.939.21063/SemanticSymbols.db
.vs/Turf-Time-Scaler-Project/CopilotIndices/17.14.939.21063/CodeChunks.db
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
